.DashHeader {
  margin: auto;
  padding: 2em;
  text-align: center;
}

.dash-container {
  margin: auto;
  padding: 1em;
}

.search-container {
  margin: auto;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.search-container .mat-card {
  margin: auto;
  padding: 1em;
  min-width: 80%;
}

.button-container {
  margin: auto;
  max-width: fit-content;
  max-height: fit-content;
}

.button-container .mat-radio-button {
  margin: auto;
  padding: 1em;
}

.button-row {
  display: table-cell;
  max-width: 490px;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.mat-radio-button ~ .mat-radio-button {
  margin-top: 32px;
  margin-left: 16px;
}

.config-container {
  margin: auto;
  max-width: 80%;
  padding: 1em;
  padding-top: 6em;
}

.config-container .mat-card {
  min-height: 200px;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    rgba(0, 0, 0, 0.014)
  );
  border-radius: 1em;
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}
